body {
    background-color: blanchedalmond;
}
.welcome {
    padding-left: 300px;
    padding-top: 60px;
}
.title h3 {
    margin-left: 250px;
    margin-bottom: 25px;
    color: black;
}
.description h2 {
    margin-left: 250px;
    color: black;
}
.apps {
    padding: auto;
}
.card {
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
}